*.pyc
*.pyc
__pycache__/
QuantumComposer/__pycache__/QuantumComposer.cpython-313.pyc
/BigSkyController/__pycache__
/PenningTrapISEG/__pycache__
/QuantumComposer/__pycache__
PenningTrapISEG/__pycache__/ui_trap_beamline_gui.cpython-313.pyc
PenningTrapISEG/__pycache__/Penning_Trap_Beam_Line.cpython-313.pyc
PenningTrapISEG/__pycache__/isegHV.cpython-313.pyc
PenningTrapISEG/__pycache__/isegHV.cpython-311.pyc
PenningTrapISEG/__pycache__/__init__.cpython-313.pyc
BigSkyController/__pycache__/ui_GuiBigSkyWidget.cpython-313.pyc
BigSkyController/__pycache__/HugeSkyController.cpython-313.pyc
BigSkyController/__pycache__/BigSkyControllerAmbitious.cpython-313.pyc
BigSkyController/__pycache__/BigSkyControllerAmbitious.cpython-311.pyc
BigSkyController/__pycache__/__init__.cpython-313.pyc
